<main>
	<nav class="nav">
		<button class='nav__button' id='back'>
			<img src="/svg/nav/back.svg">
		</button>
		<button class='nav__button' id='next'>
			<img src="/svg/nav/next.svg">
		</button>
		<button class='nav__button' id='reload'>
			<img src="/svg/nav/reload.svg">
		</button>
		<button class='nav__button' id='home'>
			<img src="/svg/nav/home.svg">
		</button>

		<input type="text" id="input" class="nav__input">
		<button class='nav__button' id='go'>
			<img src="/svg/nav/go.svg">
		</button>
	</nav>
</main>
